.our-clients {
    padding-bottom: 60px;
    }


.clients-list {
    min-width: 480px;
    display: flex;
    flex-wrap: wrap;

    &-item {
        width: calc((100%-30px)/2);
        margin-bottom: 30px;
    }  
    
    &-item:nth-child(even) {
        margin-right: 0;
    }
    
    &-item:nth-child(n + 5) {
        margin-bottom: 0;
    }
    
    &-link {
        display: flex;
        width: 210px;
        height: 90px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }  

    &-link:hover {
        border-color: $accent-color;
    }
  
}

.clients-list-svg {
    width: 100%;
    height: 100%;
    padding: 23px 40px; 

    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: $accent-color;
    }
}

@media screen and (min-width: 768px)  {

    .clients-list {
        &-item {
            width: calc((100%-60px)/3);
            margin-bottom: 30px;
            margin-right: 0;

        } 

        &-item:nth-child(3) {
            margin-right: 0;
          }

        &-item:nth-child(6) {
            margin-right: 0;
          }

        &-item:nth-child(n + 4) {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width:1200px) {
    .our-clients {
        padding-bottom: 94px;
    }

    .clients-list {
        display: flex;
        flex-wrap: nowrap;
    
        &-link {
            width: 170px;
            height: 90px;
            justify-content: center;
            align-items: center;
        }
    
        &-item:not(:last-child) {
            margin-right: 30px;
        }

        &-item {
            width: calc((100%-150px)/6);
            margin-bottom: 0;
        } 
    
    }

}