.page-footer {
    background-color: $background-color-service-footer;
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        display: flex;
    }
}

.join {
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 80px;

    &-text {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-text-color;
    }
}

.submit {
    display: block;
    margin-bottom: 20px;
}


.footer-submit {
    margin-left: 93px;

    &-link {
        display: flex;
        justify-content: center;
        
        .modal-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
    }

    &-button {
        height: 50px;
        width: 200px;
        background-color: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    &-input::placeholder {
        padding-top: 15px;
        padding-left: 16px;
    }

    &-input {
        width: 358px;
        height: 50px;
        margin-right: 12px;
        background-color: $background-color-service-footer;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    
        &:focus {
            padding: 16px;
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &-svg {
        fill: $white-text-color;
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-link:hover {
        background-color: $accent-color;
    }
}