body {
    font-family: "Roboto", sans-serif;
    color: $primary-text-color;
}    

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.link {
    text-decoration: none;
}

.section-description {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
}


@media screen and (min-width: 480px) {
    .current::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        left: 3px;
    
        bottom: -11px;
    
        position: absolute;
    
        background-color: $accent-color;
    
        border-radius: 2px;
    }
}

@media screen and (min-width: 768px) {
    .current::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
    
        bottom: -4px;
    
        position: absolute;
    
        background-color: $accent-color;
    
        border-radius: 2px;
    }
}

@media screen and (min-width: 1200px) {
    .current::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
    
        bottom: -4px;
    
        position: absolute;
    
        background-color: $accent-color;
    
        border-radius: 2px;
    }

    .section-description {
        padding-top: 94px;
        padding-bottom: 50px;
        font-size: 36px;
        line-height: 1.166;
    }
}
