.logo {
    margin-right: 93px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1,166px;
    letter-spacing: 0.03em;
    color: $accent-color;
    list-style: none;
    text-decoration: none;

        &-name-part {
            color: $logo-text-color;
        }

        &-footer {
            color: $white-text-color;
        }
}


@media screen and (min-width: 1200px) {
    .logo {
    font-size: 26px;
    line-height: 1.192;
    }
}